# Ignorar archivos de configuración específicos de Django
*.pyc
*.pyo
*.pyd
/migrations/
__pycache__

db.sqlite3

# Ignorar el archivo de secretos generado automáticamente
.secrets/
.env

# Ignorar el archivo de registro
*.log

# Ignorar archivos generados por IDEs y editores de texto
*.idea/
.vscode/

# Ignorar archivos de entorno virtual
envfraternidad
static-cdn
